<%- include("header") -%>

	<div class = "banner" > 

				<div class="app-text"> 
						<h1> D-CLIC <br> Venez nous voir </h1>
						<p>Prenez contact avec nous. </p>
						<div class="play-btn"> 
							<div class="play-btn-inner"> 
								
							</div>
						</div>
				</div>

			    <div class="app-picture-contact" >
					<img src="/images/image_contact.jpg">

				</div> 
				<h2>Notez la formation </h2>
				<div>
				  <form  method="POST" id="formulaire">
					<h1 style="color:red"><%= locals.message %></h1>
					<label for="fname">First Name</label>
					<input type="text" id="fname" name="firstname" placeholder="Your name..">

					<label for="lname">Last Name</label>
					<input type="text" id="lname" name="lastname" placeholder="Your last name..">
				
					<label for="avis">Votre avis</label>
					<input type="text" id="avis" name="avis" placeholder="donnez votre avis sur la formation..">
				
					<label for="Note">Note</label>
					<input type="number" id="note" name="note" min="1" max="5" placeholder="votre note ..">
				
					<label for="formation">Formation</label>
					<select id="formation" name="formation">
					  <option value="frontend">Frontend</option>
					  <option value="backend">Backend</option>
					  <option value="marketing">Marketing</option>
					  <option value="uxui">UX-UI</option>
					</select>
				  
					<input type="submit" value="Submit" id="submit" onsubmit="sendData({test:'ok'})">
				  </form>
				</div>
			</div>
		</div>
		<script src="../public/javascripts/ajaxCtrl.js"></script>
	</body>
</html>
